html {
    font-family: 'Lora';
    font-size: 3vw;
    user-select: none;
}

img {
    display: none;
    opacity: 0;

    width: 25vw;

    position: relative;
    top: 1vw;
    left: 50%;
    transform: translate(-50%);

    /* transition: 1000ms; */
}

h1 {
    font-family: 'Lora';
    font-size: 4vw;

    position: relative;
    top: -2vw;
    left: 1vw;
}

.list {
    background-color: #eaeaea;
    border-radius: 1vw;
    padding: 1vw 2vw;

    width: 65vw;

    position: relative;
    top: -4vw;
    left: 50vw;
    transform: translate(-50%);

    display: grid;
    gap: 1.5vw;
}

.list i {
    display: none;

    font-size: 2vw;
    position: absolute;
    right: 2vw;
    transform: translate(0, -2.5vw);
}

.list input[type="checkbox"]:checked+.Fire_Keeper span,
.list input[type="checkbox"]:checked+.The_Painter span,
.list input[type="checkbox"]:checked+.Lady_Maria span {
    color: black;
}

.list input[type="checkbox"]+.Fire_Keeper span,
.list input[type="checkbox"]+.The_Painter span,
.list input[type="checkbox"]+.Lady_Maria span {
    color: #4abbfe;
}

label {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.Fire_Keeper img,
input[type="checkbox"]:checked+.The_Painter img,
input[type="checkbox"]:checked+.Lady_Maria img {
    display: block;
    opacity: 1;
}

.list input[type="checkbox"]:checked+.Fire_Keeper,
.list input[type="checkbox"]:checked+.The_Painter,
.list input[type="checkbox"]:checked+.Lady_Maria {
    border-bottom: none;
}

.Fire_Keeper,
.The_Painter,
.Lady_Maria {
    border-bottom: solid 0.1vw #a8a8a8;
}


@media (max-height: 400px) and (max-width: 899px) {
    html {
        font-size: 2vw;
    }
}

@media (max-height: 899px) {
    html {
        font-size: 2.5vw;
    }
}

@media (min-height: 900px) and (min-width: 900px) {
    html {
        font-size: 3vw;
    }

    .list:hover .fa-plus {
        display: block;
        opacity: 1;
    }

    .list:hover input[type="checkbox"]+.Fire_Keeper span,
    .list:hover input[type="checkbox"]+.The_Painter span,
    .list:hover input[type="checkbox"]+.Lady_Maria span {
        color: black;
    }

    .list:hover input[type="checkbox"]:checked+.Fire_Keeper .fa-xmark,
    .list:hover input[type="checkbox"]:checked+.The_Painter .fa-xmark,
    .list:hover input[type="checkbox"]:checked+.Lady_Maria .fa-xmark {
        display: block;
        /* opacity: 1; */
    }

    .list:hover input[type="checkbox"]:checked+.Fire_Keeper .fa-plus,
    .list:hover input[type="checkbox"]:checked+.The_Painter .fa-plus,
    .list:hover input[type="checkbox"]:checked+.Lady_Maria .fa-plus {
        display: none;
    }

    .Fire_Keeper:hover,
    .The_Painter:hover,
    .Lady_Maria:hover {
        cursor: pointer;
        border-bottom: none;
    }

    .Fire_Keeper:hover .fa-plus,
    .The_Painter:hover .fa-plus,
    .Lady_Maria:hover .fa-plus {
        display: none;
    }

    .Fire_Keeper:hover .fa-xmark,
    .The_Painter:hover .fa-xmark,
    .Lady_Maria:hover .fa-xmark {
        display: block;
        opacity: 1;
    }

    .Fire_Keeper:hover img,
    .The_Painter:hover img,
    .Lady_Maria:hover img {
        display: block;
        opacity: 1;
        /* transition: 1000ms; */
    }
}

@font-face {
    font-family: 'Lora';
    src: url('../font/static/Lora-Italic.ttf') format('truetype');
}